<html lang="es" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="static/css/estilos.css">

<body>
<footer class="page-footer font-small fondo pt-4">
	<div id="footer" th:fragment="footer">
	  <div class="container text-center text-md-left">
	    <div class="row">
	    
	      <div class="col-md-4 mx-auto">
	        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">TRACKING DE CAMIONES</h5>
	        <p class="text-white">COVID-19</p>
	      </div>
	
	      <hr class="clearfix w-100 d-md-none">
	      <div class="col-md-2 mx-auto">
	        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contactos provinciales</h5>
	        <ul class="list-unstyled">
	          <li>
	            <a class="text-light" href="http://jujuy.gob.ar/">Gobierno de Jujuy</a>
	          </li>
	          <li>
	            <a class="text-light" href="http://coe.jujuy.gob.ar/">COE Provincial</a>
	          </li>
	        </ul>
	      </div>
	      
	      <hr class="clearfix w-100 d-md-none">
	      <div class="col-md-2 mx-auto">
	        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contactos nacionales</h5>
	        <ul class="list-unstyled">
	          <li>
	            <a class="text-light" href="https://www.argentina.gob.ar/">Gobierno de la Nacion</a>
	          </li>
	          <li>
	            <a class="text-light" href="https://www.gestionderiesgos.gob.ec/coe-nacional/">COE Nacional</a>
	          </li>
	        </ul>
	      </div>
	      
	    </div>
	  </div>
	
	  
	
	  <div class="footer-copyright text-center py-3 bg-dark text-white"> @2020 Copyright:
	    <a class="text-light" href="http://jujuy.gob.ar/home/"> Gobierno de Jujuy</a>
	  </div>
	</div>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</footer>
</body>
</html>