<!-- RECORDAR QUE HAY QUE CAMBIAR EL HREF DE CADA ENLACE PARA IR A LA PAGINA CORRESPONDIENTE EJEMPLO: href="home" -->
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<body>
	<div id="header" th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-info">
		  <a class="navbar-brand" href="#">TRACKING DE CAMIONES</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		      <li class="nav-item">
		        <a class="nav-link text-light" href="home">Inicio</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-light" href="usuario">Usuarios</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-light" href="tripulante">Tripulantes</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-light" href="vehiculo">Vehiculos</a>
		      </li>
		    </ul>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Buscar">
		      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Buscar</button>
		    </form>
		    	<ul class="navbar-nav mt-2 mt-lg-0">
				<li class="nav-item">
				<a class="btn btn-outline-dark" href="/" th:href="@{/logout}"> 
				<span> Salir  </span><span class="float-right">
				<i class="fas fa-sign-out-alt"></i></span></a>				   	
				</li>
				</ul>
		  </div>
		</nav>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>	
	 </div>
</body>
</html>