<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
<meta charset="ISO-8859-1">
<title>Formulario</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" href="css/estilos.css">

</head>

<body class="fondoB">
<div th:insert="layout/header :: header"></div>

	<div class="container">
	<br>
	<h1>FORMULARIO DE USUARIO</h1>
	<br>
		<form autocomplete="off" th:object=${usuarioD} th:action="${editMode}?@{/editarUsuario}:@{/saveUsuario}" method="post">
		<input class="form-control" type=hidden th:field="*{idUsuario}" th:if="${editMode}">
		<input class="form-control" type=hidden th:field="*{password}" th:if="${editMode}">
		<input class="form-control" type=hidden th:field="*{tipoUsuario}" th:if="${editMode}">
		<div class="form-group row">
			<label for="nombre" class="col-sm-3 col-form-label">Ingresar
				Usuario</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="nombre"
					placeholder="Ingrese Nombre de usuario" th:field="*{nombreUsuario}"
					required minlength="8" maxlength="40">
			</div>
		</div>

		<div class="form-group row" th:if="${editMode==null or editMode==false}">
			<label for="contraseña" class="col-sm-3 col-form-label">Contraseña</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="contraseña"
					placeholder="Ingrese Contraseña" th:field="*{password}" required minlength="4" maxlength="35">
			</div>
		</div>

		<div class="form-group row">
			<label for="nombreReal" class="col-sm-3 col-form-label">Nombre
				Real</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="nombreReal"
					placeholder="Ingrese Nombre Real" th:field="*{nombreReal}" required maxlength="50">
			</div>
		</div>

		<div class="form-group row">
			<label for="apellidoReal" class="col-sm-3 col-form-label">Apellido
				Real</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="apellidoReal"
					placeholder="Ingrese Apellido Real" th:field="*{apellidoReal}"
					required maxlength="50">
			</div>
		</div>
		
		 <!--<div class="form-group row">
			<label for="tipoUsuario" class="col-sm-3 col-form-label">Tipo de Usuario</label>
			<div class="col-sm-9">
				<input class="form-control" type="text" id="tipoUsuario"
					placeholder="Ingrese tipo de Usuario" th:field="*{tipoUsuario}" required>
			</div>
		</div>-->
		
		<fieldset class="form-group" th:if="${editMode==null or editMode==false}">
			    <div class="row">
			      <legend class="col-form-label col-sm-3 pt-0">Tipo de usuario</legend>
			      <div class="col-sm-9">
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="tipoUsuario" id="Consultor" value="Consultor">
			          <label class="form-check-label" for="Consultor">Consultor</label>
			        </div>
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="tipoUsuario" id="Registrador" value="Registrador">
			          <label class="form-check-label" for="Registrador">Registrador</label>
			        </div>
			        <div class="form-check">
			          <input class="form-check-input" type="radio" name="tipoUsuario" id="Bd" value="Bd">
			          <label class="form-check-label" for="Bd">Bd</label>
			        </div>
			        <!-- <div class="alert-danger" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}">Name	Error</div> -->
			      </div>
			    </div>
			  </fieldset>
		 


		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="gridCheck"
					required> <label class="form-check-label" for="gridCheck">
					¿Estas de acuerdo que tus datos son correctos? </label>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-lg-12 text-center">		
			<a class="btn btn-secondary" th:href="@{'/cancelar'}">Cancelar</a>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAgregar">Guardar Usuario</button>
			</div>
		</div>
		
		<div class="alert-danger text-center" th:if="${formUsuarioErrorMessage}" th:text="${formUsuarioErrorMessage}">Name Error</div>
		
				<div class="modal fade" id="modalAgregar" tabindex="-1"	role="dialog" aria-labelledby="agregarModalTitulo" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="agregarModalTitulo">Confirmar Agregar</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body"><h7>¿Estás seguro que quieres guardar los cambios?</h7></div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"	data-dismiss="modal">Cerrar</button>
											<input type="submit" class="btn btn-primary" value="Save Changes"  th:value="${editMode}?'Guardar Usuario':'Crear Usuario'">
										</div>
									</div>
								</div>
				</div>
		</form>
	</div>
	<br>
<div th:insert="layout/footer :: footer"></div>

	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>

</body>
</html>